@page
@model dsv_mini.Pages.Details

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DSV møde bookning</title>
    <div class="text-center">
        <h1 class="display-4">DSV mødelokaler</h1>
    </div>
</head>
<body>
<div>
    
</div>

<h2>så tester vi prøver lige om den bliver super flot </h2>
<div>
    @Model.mt.Name
    @Model.mt.NumberOfSeats
    @Model.mt.Description
    @Model.mt.Room
        <a asp-page="/CreateBooking" asp-route-roomId="@Model.mt.Id" class="btn btn-primary">
            Book dette lokale
        </a>

</div>
</body>
</html>